<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="geexu_validate_message" xsi:type="string">Geexu\Core\Model\Message\Validate</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\Structure\Data">
        <plugin name="geexu_module_activate" type="Geexu\Core\Model\Config\Structure\Data"/>
    </type>
    <type name="Magento\Backend\Model\Menu\Builder\AbstractCommand">
        <plugin name="geexu_move_menu" type="Geexu\Core\Plugin\MoveMenu"/>
    </type>
</config>
