<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- <tab id="geexu" translate="label" sortOrder="401" class="geexu-extensions">
            <label>Geexu Extensions</label>
        </tab> -->
        <!-- <section id="geexu" translate="label" type="text" sortOrder="8888" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Information</label>
            <tab>geexu</tab>
            <resource>Geexu_Core::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="notice_enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to get latest updates from Geexu.</comment>
                </field>
                <field id="notice_type" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Category</label>
                    <source_model>Geexu\Core\Model\Config\Source\NoticeType</source_model>
                    <comment>Select categories that you want to receive notifications</comment>
                    <depends>
                        <field id="notice_enable">1</field>
                    </depends>
                </field>
                <field id="menu" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Geexu Menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Geexu\Core\Model\Config\Backend\Menu</backend_model>
                    <comment>If yes, the Geexu menu will be displayed on the admin navigation. All of the Geexu module menu will be displayed there.</comment>
                </field>
            </group>
        </section> -->
    </system>
</config>
